.BrandHeaderr {
    /* color: rgb(88, 26, 26); */
    /* text-transform: uppercase; */
    /* text-decoration:goldenrod; */
    letter-spacing: 0.15em;
    
    /* display: inline-block; */
    padding: 25px 25px; 
    position: relative;
    background:  repeat scroll 0 0 transparent;

}
  .BrandHeaderr:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    /* display: block; */
    height: 12px;
    left: 50%;
    position: absolute;
    background:#ffd700;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    border-radius: 50px;
  }
  .BrandHeaderr:hover:after { 
    width: 50%; 
    left: 23%; 
  }
  /* .logo{box-sizing: border-box;box-shadow: 0px 40px 80px #c7d1c2;;} */
 